/* Body */

body {
  left: 0;
  margin: 0;
  position: relative;
}


/* Menu */

.menu {
  background: #222222;
  left: -238px;
  height: 100%;
  position: fixed;
  width: 238px;
  z-index: 2;
  text-align: center;
}

.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu li {
  border-bottom: 1px solid #555;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
}

/*.menu li:hover .menu-link {
  cursor: pointer;
  background-color: #fcdb00;

}*/

.li-menu-link:hover .menu-link{
  cursor: pointer;
  background-color: #fcdb00;
  color: #000;
}
.li-menu-link:hover {
  background-color: #fcdb00;
}

.menu-link {
  display: block;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 5px;
}
/*.menu a:hover {
  color: #000;
}*/

.icon-close {
  cursor: pointer;
  padding-top: 66px;
  padding-bottom: 6px;
  transition: 0.5s;
}

.icon-close-scroll{
  padding-top: 10px;
  transition: 0.5s;

}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}
