/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- */
/*@font-face {
    font-family: 'Source Sans Pro', sans-serif; 
    src: url("fonts/SourceSansPro-Regular.ttf"); 
}
*/
body {

}
.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#home > nav > div > img:nth-child(2) {
	padding-top: 12px;
	text-align: center;
	padding-left: 45px;
}

#home > nav > div > img.icon-menu {
	float: left;
	padding-left: 106px;
	padding-right: 100px;
}

#home > nav > div > ul{
	float: right;
}


.postmenu {
	padding-top: 58px;
	width: 100%;
	position: fixed;
	text-align: center;
	z-index: 1;
	background-color: #fcdb00;
	transition: all 0.4s ease;
}


.sticky {
	padding-top: 2px;
	background-color: #fcdb00;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 0.99px 0.01px rgba(0, 0, 0, 0.05);
}

.topcocial {
	width: 200px;
	float: right;
	margin-top: 20px;
	margin-right: 70px;
	font-family: FontAwesome;
	font-size: 22px; 
	font-weight: 400;
	line-height: 32px; 
	text-align: center;
}

.topcocial > ul > li {
	display: inline-block;
	padding: 0px 6px;

}

.topcocial > ul > li > a {
	color: #222222;
}

.topcocial > ul > li > a:hover {
	color: #fff;
	transition: 0.5s;
}
.header{
	height: 587px;
	background-color: #fcdb00;
	text-align: center;	
}

h1 {
	font-family: 'Source Sans Pro';
	color: #222222;
	font-size: 48px;
	font-weight: 700;
	/*line-height: 18px;*/	
}

p {
	font-family: 'Source Sans Pro';
	color:  #222222;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.dws {
	position: relative;
	z-index: 1;
}

.butt {
	width: 256px;
	height: 56px;
	margin: auto;
	margin-top: 41px;
	border: 2px solid #010101;
	font-family: 'Source Sans Pro', sans-serif;
	color:  #010101;
	font-size: 22px;
	font-weight: 700;
	line-height: 54px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	transition: .5s;
	overflow: hidden;
}

.butt::before,
.butt::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #010101;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}

.butt::after {
	opacity: 1;
	transition-delay: .2s;
}


.butt:hover {
	color: #fff;
}

.butt:hover::before,
.butt:hover::after {
	left: 0;
}

.header {
	padding-top: 400px;
}


.header  p {
	margin-top: 22px;
}

.header > div > img {
	position: absolute;
	top: 890px;
}


.wrap-text {
	width: 475px;
	margin: auto;
}

.features {
	width: 100%;
	height: 750px;
	padding-top: 215px;
}

.pricing {
	height: 735px;
	padding-top: 160px;
}

.ourworks {
	height: 1010px;
	padding-top: 100px;

}

article > div > h2{
	font-family: 'Source Sans Pro';
	color:  #010101;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
}

article > div > p {
	font-family: 'Source Sans Pro';
	color:  #898989;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	width: 725px;
	margin: 0 auto;
	margin-bottom: 77px;
	margin-top: 17px;
}

div.wr-text-features > p {
	margin-top: 17px;
	margin-bottom: 88px
}

.wr-text-features {
	margin: auto;
}

.wr-features {
	margin: auto;
	width: 910px;
	height: 309px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

div.wr-features > div:nth-child(1),
div.wr-features > div:nth-child(2),
div.wr-features > div:nth-child(3),
div.wr-features > div:nth-child(4),
div.wr-features > div:nth-child(5),
div.wr-features > div:nth-child(6) {
	width: 283px;
	height: 200px;
}

div.wr-features > div > p {
	font-family: 'Source Sans Pro';
	color:  #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin-top: 14px;
}

div.wr-features > div > h3 {
	font-family: 'Source Sans Pro';
	color:  #010101;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
}

div.wr-features > div > img {
	float: left;
	margin: 0px 20px 60px 0px;
} 

.circle-0 {
	border-radius: 50%;
	background-color:  #ebebeb;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	font-size: 48px;
	line-height: 100px;
	   
}

div.wr-pricing > div:nth-child(1) > div.circle-0 > img,
div.wr-pricing > div:nth-child(2) > div.circle-1 > img, 
div.wr-pricing > div:nth-child(3) > div.circle-0 > img {	
	padding-top: 32px;
}

.wr-pricing {
	display: flex;
	justify-content: center;
}

.block-1:hover .circle-0{
	background-color: #010101;
	transition: 0.5s;
	color: #fff;
}

.block-pricing {
	width: 263px;
	text-align: center;
}


div.wr-pricing > div > h3 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 28px;
	margin-bottom: 19px;
}

div.wr-pricing > div > p {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	width: 165px;
	margin: 0 auto;

}

div.wr-pricing > div:nth-child(1) > div:nth-child(5), 
div.wr-pricing > div:nth-child(2) > div:nth-child(5),
div.wr-pricing > div:nth-child(3) > div:nth-child(5) {
	background-color:  #010101;
	width: 50px;
	height: 2px;
	margin: 0 auto;
}

div.wr-pricing > div > span {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 43px;
	display: block;
} 

div.wr-pricing > div:nth-child(1) > p:nth-child(6), 
div.wr-pricing > div:nth-child(2) > p:nth-child(6),
div.wr-pricing > div:nth-child(3) > p:nth-child(6){
	font-family: 'Source Sans Pro';
	color:  #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.dws-pricing {
	position: relative;
	z-index: 1;
}

.butt-pricing {
	width: 138px;
	height: 45px;
	margin: auto;
	margin-top: 41px;
	border: 2px solid #010101;
	font-family: 'Source Sans Pro', sans-serif;
	color:  #010101;
	font-size: 16px;
	font-weight: 700;
	line-height: 44px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	position: relative;
	transition: .5s;
	overflow: hidden;
}

.butt-pricing::before,
.butt-pricing::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #010101;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;
}

.butt-pricing::after {
	opacity: 1;
	transition-delay: .2s;
}


.butt-pricing:hover {
	color: #fff;
}

.butt-pricing:hover::before,
.butt-pricing:hover::after {
	left: 0;
}

.wr-ourworks {
	margin: 0 auto;
	width: 950px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.wr-ourworks a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding-bottom: 65px; 
}

.wr-ourworks a h3 {
	font-family: 'Source Sans Pro';
	color:  #010101;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 20px;
}

.wr-ourworks a span {
	font-family: 'Source Sans Pro';
	color:  #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.wr-work {
	position: relative;
}

.info-work {
	position: absolute;
	left: 10px;
    right: 10px;
    bottom: 10px;
    font-family: 'Source Sans Pro';
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	z-index:1;
}

div.info-work > div.half-left > i,
div.info-work > div.half-right > i{
	color:  #ffffff;
	font-size: 22px;
	font-weight: 400;
	line-height: 18px;
}

div.info-work > div.half-left > div {
	font-family: 'Source Sans Pro';
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	float: right;
	margin-left: 4px;
}

div.info-work > div.half-right > div {
	font-family: 'Source Sans Pro';
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	float: left;
	margin-right: 4px;
}

.half-left {
    float: left;
    font-size: 14px;
    color: #fff;
}

.half-right {
    float: right;
    font-size: 14px;
    color: #fff;
}

.img-plus {
	position: absolute;
	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	right: 0px;
	color:  #ffffff;
	font-size: 50px;
	padding-top: 80px;
	background: #000;
	opacity: 0;
	height: 140px;
}

.li-wr-work:hover .img-plus {
	opacity: 0.8;
	transition: 0.4s;
}

.ourteam {
	height: 630px;
	padding-top: 190px;
}

.wr-ourteam {
	width: 870px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.wr-ourteam h3 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 42px;
	margin-bottom: 12px;
}

.wr-ourteam span {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.wr-ourteam p {
	font-family: 'Source Sans Pro';
	color: #313841;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 170px;
}

.wr-ourteam a {
	text-decoration: none;
	padding: 0px 4px;
	color: #010101;
}

.wr-ourteam a:hover {
	text-decoration: none;
	padding: 0px 4px;
	color: #fcdb00;
	transition: 0.5s;
}
.stats_testimonial {
	height: 800px;
	padding-top: 170px;
}

.wr-stats_testimonial {
	width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.wr-stats_testimonial div {
	width: 100px;
} 

.wr-stats_testimonial h3 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	margin-top: 23px;
}

.wr-stats_testimonial span {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}
.wr-stats_testimonial > div:nth-child(1) > span {
	line-height: 14px;
}

.img-wr-st {
	height: 50px;
}

.wr-stats_testimonial > div:nth-child(2) > div > img {
	margin-top: 5px;
}

.wr-stats_testimonial > div:nth-child(4) > div > img {
	margin-top: 2px;
}

.st_testimonial {
	margin-top: 81px;
	text-align: center;
}

div.st_testimonial > img {
	width: 104px;
	height: 104px;
}

.st_testimonial h3 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 18px;
}

.st_testimonial span {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.st_testimonial > div {
	width: 600px;
	height: 70px;
	margin: auto;
	margin-top: 31px;
}

.st_testimonial > div > p {	
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	display: block;
	width: 475px;
	margin: auto;
}

.st_testimonial > div > img:nth-child(1) {
	float: left;
	margin-top: 7px;
}


.st_testimonial > div > img:nth-child(3) {
	transform: rotate(180deg);
	float: right;
	margin-top: -20px;

}

.form {
	height: 800px;
	padding-top: 120px;
}

.form h2 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
}

.form > p {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	width: 725px;
	margin: auto;
	margin-top: 17px;
}

.wr-form {
	display: flex;
	justify-content: center;

}

.wr-form > div {
	width: 160px;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 50px;

}

.form > div > div > p {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	margin-top: 5px;
}

.form > div > div > img {
	display: block;
	margin: auto;
} 

.form > div > div > h3 {
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 25px;
}	

.block-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-name {
	margin-top: 25px;
}

.form-email {
	margin-top: 30px;
}

.form-name,
.form-email,
textarea {
	border-width: 1px;
	border-color: #010101;
	border-style: solid;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	box-sizing: border-box;
	background-color: #ffffff;
	font-size: 16px;
	width: 478px;
	height: 53px;
	padding-left: 18px;
	outline: none;	
	color: #000;
}

textarea { 
	width: 478px;
	height: 205px;
	margin-top: 22px;
	padding-top: 21px;
}

textarea:active, textarea:focus {
  outline: none !important;
}
textarea::-moz-focus-inner {
  border: 0 !important;
}


.send-button {
	border-width: 1px;
	border-style: solid;
	background-color: #000000;
	width: 168px;
	height: 49px;
	font-family: 'Source Sans Pro';
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 25px;
	color:  #ffffff;
	font-size: 16px;
	border:none;
	outline: none;
}

.send-button:hover {
	background: #fcdb00;
	color: #010101;
	transition: all 0.4s;
}

footer {
	background-color: #010101;
	height: 800px;
	padding-top: 120px;
}

footer h2, p{
	text-align: center;
}

footer > h2 {
	font-family: 'Source Sans Pro';
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
}	
footer > div {
	width: 714px;
	margin: auto;
}

footer p {
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 17px;
}

.form-submit {
	margin-top: 40px;
	text-align: center;
}

.form-submit > input:first-child {
	background-color: #ffffff;
	width: 597px;
	height: 51px;
	font-size: 16px;
	padding-left:18px;
	font-family: 'Source Sans Pro';
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	outline: none;
	border: 0;
}

.send-button-submit {
	background-color: #ffffff;
	width: 135px;
	height: 51px;
	font-size: 16px;
	font-family: 'Source Sans Pro';
	color: #010101;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	border: none;
	text-transform: uppercase;
	border:none;
	outline: none;
}

.send-button-submit:hover {
	background: #fcdb00;
    color: #010101;
    transition: 0.4s;
}

.footer-nav {
	margin: auto;
	margin-top: 114px;
	width: 870px;
	font-family: 'Source Sans Pro';
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.footer-nav > div {
	width: 180px;
	display: flex;
	flex-direction: column;
}

.footer-nav > ul > li > a {
	font-family: 'Source Sans Pro';
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	text-decoration: none;
}

.footer-nav > ul > li > a:hover {
	color: #fcdb00;
}

.hidden{
opacity:0;
}
.visible{
opacity:1;
}